* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.intro {
  height: 100vh;
}

.intro video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.intro h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  background-color: black;
  height: 100vh;
  width: 100vw;
}

section {
  height: 100vh;
  color: black;
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}
